{% extends 'geekshop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="hero-white">
        {% include 'geekshop/includes/inc_main_menu.html' %}
    </div>

    <div class="details">

        {% include 'mainapp/includes/inc_prod_menu.html' %}

        <div class="related">
            <div class="related-products">
                <div class="title clearfix">
                    <h2>
                        Категория: "{{ category.name|title }}"
                    </h2>
                     <div class="paginator">
          {% if products.has_previous %}
            <a href="{% url 'products:page' category.pk products.previous_page_number %}"><

            </a>
          {% endif %}
          <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
          </span>
          {% if products.has_next %}
            <a href="{% url 'products:page' category.pk products.next_page_number %}">
              >
            </a>
          {% endif %}
        </div>

                </div>
                <div class="category-products clearfix">

                    {% for product in products %}
                    <div class="block">
                        <a href="{% url 'products:product' product.pk %}">
                            <img src="/media/{{ product.image }}" style="width: 100%;" alt="product">
                            <div class="text">
                                <img src="{% static '/geekshop/img/icon-hover.png' %}" alt="hover">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.description }}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <div class="clr"></div>
</div>


{% endblock %}

